.main-content {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.content {
  flex-basis: calc((100% - 90px) / 4);
  &__icon {
    width: 270px;
    height: 120px;
    background-color: $mainIconBgc;
    border-radius: 4px;
    margin-bottom: 30px;
  }
  &__svg--antenna {
    width: 65.32px;
    height: 70px;
    margin: 25px 102.34px;
  }
  &__svg--clock {
    width: 66.96px;
    height: 70px;
    margin: 25px 101.54px;
  }
  &__svg--diagram {
    width: 70px;
    height: 53.69px;
    margin: 33.2px 100px 33.11px 100px;
  }
  &__svg--astronaut {
    width: 70px;
    height: 70px;
    margin: 25px 100px;
  }
  &__heading {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }

  &__text {
    color: $paragraphColor;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }
}
